#content {
    width: 100%;
    margin: 0 auto;
    }
    .cards{
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: center;;
    }

    .cards section {
    border: 1px solid gray;
    background-color: white;
    padding: 30px;
    text-align: center;
    width: 200px;
    height:300px;
    margin: 10px;
    }
    h1 {
    text-align: center;
    font-size: 20px;
    }
    h2, h22, h23{
    font-size: 15px;
    text-align: center;
    }

    img {
    width: 50%;
    box-shadow: 5px 10px 8px 5px #888888;
    }


    @media only screen and (min-width: 1000px) {
        nav ul {
            flex-direction: row;
        }
    
        body {
            background-color: #98B9F2;
        }
    
        header{
            background-color: #918EF4;
            margin-bottom: 15px;
            border-radius: 15px;
        }
    
        nav button{
            display: none;
        }
    
        nav ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 auto;
        }
    
        nav li {
            list-style-type: none;
            
        }
    
        nav li a {
            float: left;
            padding: 30px 16px;
            color: black;
            text-decoration: none;
            font-size: 0.7cm;
            text-align: center;
        }
    
        nav li a:hover {
            background-color: rgba(0,0,0,0.3);
        }
    
        div{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: auto;
            font-size: 1.5em;
            text-align: center;
    
        }
        .header-logo {
            border: 3px solid gray;
            border-radius: 40%;
            width: 90px;
            margin-left: 10px;
            grid-column: 1/2;
            grid-row: 1/1;
        }
    
        .site-name {
            font-size: 1cm;
            font-weight: bold;
            text-align: center;
            grid-column: 2/2;
            grid-row: 1/1;
        }
    
        footer {
            background-color: #918EF4;
            border-radius: 10px;
            text-align: center;
            margin:70px;
            font-size: 30px;
            margin-bottom: 15px;
        }
    }

    @media only screen and (max-width: 600px) {

        header{
            background-color: #918EF4;
            margin-bottom: 15px;
            border-radius: 15px;
        }
        div{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: auto;
            font-size: 1.5em;
            text-align: center;
        
        }
        .header-logo {
            border: 3px solid gray;
            border-radius: 40%;
            width: 90px;
            margin-left: 10px;
            grid-column: 1/2;
            grid-row: 1/1;
        }
        
        .site-name {
            font-size: 1cm;
            font-weight: bold;
            text-align: center;
            grid-column: 2/2;
            grid-row: 1/1;
        }
        
        
        body {
            background-color: #98B9F2;
        }
        
        nav button{
            margin: .2rem 2vw;
            background-color: transparent;
            border: none;
            font-size: 2rem;
        }
        
        nav {
            background-color: #918EF4;
        }
        
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display:none
        }
        
        nav ul.open{
            display: block;
        }
        
        nav ul li a {
            display: block;
            padding: .8rem 2vw;
            text-decoration: none;
            color: #333;
            border-top: 1px solid rgba(0,0,0,0.5)
        }
        
        nav ul li a:hover {
            background-color: rgba(0,0,0,0.3);
        }
        
        nav ul li.active a {
            background-color: rgba(0,0,0,0.2);
            color: #fff;
        }
    }

    @media only screen and (min-width:601px) and (max-width:999px) {
        header{
            background-color: #918EF4;
            margin-bottom: 15px;
            border-radius: 15px;
        }
        
        div{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: auto;
            font-size: 1.5em;
            text-align: center;
        
        }
        .header-logo {
            border: 3px solid gray;
            border-radius: 40%;
            width: 90px;
            margin-left: 10px;
            grid-column: 1/2;
            grid-row: 1/1;
        }
        
        .site-name {
            font-size: 1cm;
            font-weight: bold;
            text-align: center;
            grid-column: 2/2;
            grid-row: 1/1;
        }
        
        .header-logo {
            border: 3px solid gray;
            border-radius: 40%;
            width: 90px;
            margin-left: 10px;
            grid-column: 1/2;
            grid-row: 1/1;
        }
        
        nav button{
            margin: .2rem 2vw;
            background-color: transparent;
            border: none;
            font-size: 2rem;
        }
        
        nav {
            background-color: #918EF4;
        }
        
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display:none
        }
        
        nav ul.open{
            display: block;
        }
        
        nav ul li a {
            display: block;
            padding: .8rem 2vw;
            text-decoration: none;
            color: #333;
            border-top: 1px solid rgba(0,0,0,0.5)
        }
        
        nav ul li a:hover {
            background-color: rgba(0,0,0,0.3);
        }
        
        nav ul li.active a {
            background-color: rgba(0,0,0,0.2);
            color: #fff;
        }
        
        section {
            border-radius: 10px;
        }
        
        body {
            background-color: #98B9F2;
        }
    }        
