
@media only screen and (min-width: 1000px) {
    nav ul {
        flex-direction: row;
    }

    body {
        background-color: #98B9F2;
    }

    header{
        background-color: #918EF4;
        margin-bottom: 15px;
        border-radius: 15px;
    }

    nav button{
        display: none;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
    }

    nav li {
        list-style-type: none;
        
    }

    nav li a {
        float: left;
        padding: 30px 16px;
        color: black;
        text-decoration: none;
        font-size: 0.7cm;
        text-align: center;
    }

    nav li a:hover {
        background-color: rgba(0,0,0,0.3);
    }

    div{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: auto;
        font-size: 1.5em;
        text-align: center;

    }
    .header-logo {
        border: 3px solid gray;
        border-radius: 40%;
        width: 90px;
        margin-left: 10px;
        grid-column: 1/2;
        grid-row: 1/1;
    }

    .site-name {
        font-size: 1cm;
        font-weight: bold;
        text-align: center;
        grid-column: 2/2;
        grid-row: 1/1;
    }

    footer {
        background-color: #918EF4;
        border-radius: 10px;
        text-align: center;
        margin:70px;
        font-size: 30px;
        margin-bottom: 15px;
    }

    main {
        display: grid;
        grid-template-columns: 300px 1fr 300px;
        grid-template-rows: 200px 200px 200px;
        grid-gap: 30px;
    }


    #hero-parent {
        position:relative;
    }
    
    #hero-child {
        position: absolute;
        top:-450px;
        left:20px;
    }

    #hero-button{
        font-size: 40px;
        position: absolute;
        top:-70px;
        left:300px;
        background-color: #918EF4;
        border-radius: 10px;
    }

    .hero {
        grid-column: 2/2;
        grid-row: 1/3;
    }

    .hero-image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .event {
        grid-column: 1/1;
        grid-row: 1/1;
        background-color: lightblue;
        border-radius: 10px;
        text-align: center;
    }

    .weather {
        grid-column: 1/1;
        grid-row: 2/2;
        background-color: lightblue;
        border-radius: 10px;
        text-align: center;
    }

    .join{
        grid-column: 1/1;
        grid-row: 3/3;
        background-color: lightblue;
        border-radius: 10px;
        text-align: center;
    }

    .join-button {
        font-size: 20px;
        background-color: #918EF4;
        border-radius: 10px;
        text-align: center;
        margin-top: 10px;
    }

    .news {
        grid-column: 2/2;
        grid-row: 3/3;
        background-color: lightblue;
        border-radius: 10px;
        text-align: center;
    }

    .spotlight {
        grid-column: 3/3;
        grid-row: 1/4;
        border-radius: 10px;
        text-align: center;
    }

    .spotlight1{
        font-size: 15px;
        background-color: lightblue;
        border-radius: 10px;
        text-align: center;
        margin:10px;
    }

    .pizza-image{
        width: 20%;
        height: 100%;
        margin-left: 100px;
        
    }

    .car-image{
        width: 20%;
        height: 100%;
        margin-left: 100px;
    }

    .boat-image{
        width: 20%;
        height: 100%;
        margin-left: 100px;
    }
    .spotlight2{
        font-size: 15px;
        background-color: lightblue;
        border-radius: 10px;
        text-align: center;
        margin:10px;
    }

    .spotlight3{
        font-size: 15px;
        background-color: lightblue;
        border-radius: 10px;
        text-align: center;
        margin:10px;
    }

}