@media only screen and (min-width:601px) and (max-width:999px) {
header{
    background-color: #918EF4;
    margin-bottom: 15px;
    border-radius: 15px;
}

div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    font-size: 1.5em;
    text-align: center;

}
.header-logo {
    border: 3px solid gray;
    border-radius: 40%;
    width: 90px;
    margin-left: 10px;
    grid-column: 1/2;
    grid-row: 1/1;
}

.site-name {
    font-size: 1cm;
    font-weight: bold;
    text-align: center;
    grid-column: 2/2;
    grid-row: 1/1;
}

.header-logo {
    border: 3px solid gray;
    border-radius: 40%;
    width: 90px;
    margin-left: 10px;
    grid-column: 1/2;
    grid-row: 1/1;
}

nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

nav {
    background-color: #918EF4;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:none
}

nav ul.open{
    display: block;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5)
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

section {
    border-radius: 10px;
}

body {
    background-color: #98B9F2;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-gap: 30px;
}

#hero-parent {
    position:relative;
}

#hero-child {
    position: absolute;
    top:-215px;
    left:20px;
    font-size: 20px;
}

#hero-button{
    font-size: 30px;
    position: absolute;
    top:-60px;
    left:500px;
    background-color: #918EF4;
    border-radius: 10px;
}

.hero-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.hero {
    grid-column: 1/3;
    grid-row: 1/1;
}

.news {
    grid-column: 1/3;
    grid-row: 2/2;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
}

.spotlight {
    grid-column: 1/3;
    grid-row: 3/4;
    border-radius: 10px;
    text-align: center;
}

.spotlight3 {
    display: none;
}

.join {
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
}

.join-button {
    font-size: 20px;
    background-color: #918EF4;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

.event{
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
}

.weather {
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
}


.spotlight1{
    font-size: 15px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
    margin:10px;
}

.pizza-image{
    width: 20%;
    height: 100%;
    margin-left: 100px;
    
}

.car-image{
    width: 20%;
    height: 100%;
    margin-left: 100px;
}

.boat-image{
    width: 20%;
    height: 100%;
    margin-left: 100px;
}
.spotlight2{
    font-size: 15px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
    margin:10px;
}
footer {
    background-color: #918EF4;
    border-radius: 10px;
    text-align: center;
    margin:70px;
    font-size: 30px;
    margin-bottom: 15px;
}

}